body {
	box-sizing:border-box;
	margin: auto;
	padding:20px;
	text-align: center;
	max-width: 1000px;
}

button {
	background-color: orange;
}

p {
	text-align: left;
	padding: 20px;
	overflow: wrap;
}

#root {
	margin-bottom:10px;
}
